

/* Start:/bitrix/templates/aspro_optimus/components/bitrix/news.list/main_template/style.css?1499098975108*/
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

/* End */
/* /bitrix/templates/aspro_optimus/components/bitrix/news.list/main_template/style.css?1499098975108 */
