

/* Start:/bitrix/templates/aspro_optimus/components/bitrix/iblock.vote/element_rating/style.css?1499098974341*/
.iblock-vote table td div { cursor: pointer; background: url('/bitrix/templates/aspro_optimus/components/bitrix/iblock.vote/element_rating/../../../../images/ai.png') -374px -51px no-repeat; width:19px; height:16px; overflow:hidden; }
div.star-voted, div.star-over { }
.iblock-vote table td div.star-empty { background-position:-393px -51px; }
.iblock-vote table td div.star-over { background-position:-374px -51px;}


/* End */


/* Start:/bitrix/templates/aspro_optimus/components/bitrix/sale.gift.main.products/main/style.min.css?1499098974604*/
.bx_item_list_title{font-weight:bold;color:#000;background:#ebf4f8;vertical-align:middle;height:38px;text-align:center;line-height:38px;font-size:14px}.bx_sale_gift_main_products.bx_wood .bx_item_list_title{background:#ebf4f8}.bx_sale_gift_main_products.bx_red .bx_item_list_title{background:#fbf1f0}.bx_sale_gift_main_products.bx_green .bx_item_list_title{background:#f2fbea}.bx_sale_gift_main_products.bx_blue .bx_item_list_title{background:#ebf4f8}.bx_sale_gift_main_products.bx_black .bx_item_list_title{background:#f1f4f7}.bx_sale_gift_main_products.bx_yellow .bx_item_list_title{background:#fbf7db}
/* End */
/* /bitrix/templates/aspro_optimus/components/bitrix/iblock.vote/element_rating/style.css?1499098974341 */
/* /bitrix/templates/aspro_optimus/components/bitrix/sale.gift.main.products/main/style.min.css?1499098974604 */
