.adm-workarea-wrap{height:100%;}
#adm-workarea{height:100%;box-sizing:border-box;}
#aspro_admin_area{position:relative;overflow:hidden;min-height:50px;}
#aspro_admin_area iframe{border:medium none;height:100%;position:relative;width:100%;z-index:1;box-sizing:border-box;}
#aspro_admin_area.aspro-admin-ready iframe{border:1px solid #cfd8d7;background-color:white;}
.aspro-admin-waiter{background:rgba(0, 0, 0, 0) url("../../images/aspro.optimus/waiter.gif") no-repeat scroll 0 0 / 100% auto;border:medium none;content:" ";display:block;height:37px;position:absolute;width:35px;top:0;left:0;}
.aspro-admin-ready .aspro-admin-waiter{display:none;}
.adm-detail-content-wrap::before{border-top:1px solid #969c9d;content:" ";display:block;height:100px;width:100%;background:rgba(0, 0, 0, 0) url("../../images/aspro.optimus/banner.png") no-repeat scroll center center;}
.aspro-admin-row{display:block;min-width:610px;width:100%;box-sizing:border-box;margin:0 -4px;}
*[class^="aspro-admin-col"]{display:block;width:100%;float:left;padding:5px 4px 7px;box-sizing:border-box;}
.aspro-admin-col12{}
.aspro-admin-col6{width:50%;}
.aspro-admin-col4{width:33.3%;}
.aspro-admin-col3{width:25%;}
.aspro-admin-col2{width:16.6%;}
.aspro-admin-col1{width:8.3%;}

.aspro-admin-option-title{text-align:right;padding-top:9px;}
.aspro-admin-option-value{}
.aspro-admin-option-note{}
.aspro-admin-option-subscription{display:inline-block;vertical-align:middle;margin-left:4px;}
.aspro-admin-option-radio, .aspro-admin-option-select, .aspro-admin-option-text{display:inline-block;vertical-align:middle;}
.aspro-admin-option-html{text-align:center;padding-top:9px;}